nav {
  padding: 0 10%;
  min-height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
  color: white;
}

#logo {
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

.login-register-container button {
  margin: 0 0.5rem;
  width: 7rem;
  height: 3rem;
}
