#board-list-section {
  width: 100%;
  min-height: 90vh;
  overflow-x: scroll;
}

#board-list-header {
  min-height: 8vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#board-list-header h1 {
  font-size: 2rem;
}

#invite-member {
  width: 8rem;
  height: 3rem;
  border-radius: 0.4rem;
}

#manage-workspace {
  width: 9rem;
  height: 3rem;
  font-size: 1.5rem;
  border: 0.2rem solid black;
}
